.footer{
    padding-top: 10px;
    background-color: #121213;
    color: white;
}

.footerlogo{ 
    width: 140px;
    height: 180px;
    background: url("../img/footer_logo_white.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.footerlogo:hover {
    width: 140px;
    height: 180px;
    background: url('../img/footer_logo_blue.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.20s ease-in;
}

footer ul{
    list-style: none;
}
footer li{
    margin-bottom: 10px;
}

footer li a{
    font-size: 18px;
    color:white;
     text-decoration: none;
}


footer li a:hover{
        color: #2D9BF0;
        transition: all 0.20s ease-in;
        cursor:pointer;
}

footer li:hover path{
    fill:#2D9BF0;
    transition: all 0.20s ease-in;
    cursor:pointer;
}

.contenedor-redes{
    display:flex;
    flex-direction: row;
    gap: 15px;
}

.redes{
    width: 50px;
}

.copyright{
    font-size: 12px;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 10px;
}

