.AreaPersonal ul,
.AreaPersonal li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navbar.navbar-dark {
  background-color: #121213;
}

.nav-link {
  color: white;
  padding-left: 0%;
}

.nav-link:hover {
  color: #2d9bf0;
  transition: 0.2s ease-in;
}

.nav-link:hover path {
  fill: #2d9bf0;
  transition: 0.2s ease-in;
}

.dropdown-menu {
  background-color: #121213;
  list-style: none;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #2d9bf0;
  transition: 0.2s ease-in;
}

.nav-link.dropdown-toggle.show {
  color: #2d9bf0;
}
.AreaPersonal {
  padding-right: 1rem;
}
.offcanvas {
  background-color: #121213;
  color: white;
}

.subscribe {
  color: yellow;
}
.subscribe:hover {
  color: #f5f543;
  text-shadow: 1px 0px #face2d;
  transition: 0.2s ease-in;
}

.login__icon {
  width: 25px;
}

.login__text {
  font-size: 12px;
  font-weight: 500;
}
