.main-container{
    background: url("../img/hero_background.jpg");
    background-size: cover;
    height: 100vh;
    display:flex;
    align-items: center;
    position: relative;
}
.form {
    inset: 0;
    margin:auto;
    background-color: rgb(123 125 141 / 65%);
    width: 300px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 15px;
    gap: 12px;
    position: absolute;
    color: white;
    border-radius: 5%;
}

.form__btn {
    width: 100px;
    align-self: center;
}